---
import { Button } from '@nextui-org/react';
import { ArrowRight } from '@/components/icons/ArrowRight';
import CheckCircle from '@/components/icons/CheckCircle.astro';

interface Props {
  price: string;
  title: string;
  description: string;
}


const { price, title, description } = Astro.props;;

---

<div class="flex flex-col h-[230px] min-w-[330px] bg-[#515151] rounded-2xl p-4">
  <div class="flex w-full">
    <div class="flex grow">
      <h4 class="text-white font-extrabold text-[25px]">{title}</h4>
    </div>
  </div>
  <div class="flex items-center w-fit bg-[#3d3c3d] rounded-3xl py-2 px-4 mt-2">
    <h5 class="text-white font-extrabold text-[17px]">{price}</h5>
    <h5 class="text-gray-400 text-end font-extrabold text-[13px] ml-1">/mes</h5>
  </div>
  <div class="flex flex-col gap-2 h-full">
    <div class="flex items-end h-full">
      <div>
        <h5 class="text-gray-200 text-[13px]">{description}</h5>
      </div>
    </div>
  </div>
</div>
