---

---

<section class="m-[10px] rounded-2xl bg-white">
  <div class="flex grow min-h-[350px] items-center 2xl:max-w-[1500px] 2xl:mx-auto mx-6 md:mx-10 py-10 md:pt-20">
    <div class="w-full">
      <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-4 w-full h-full">
        <div class="flex grow col-span-2 md:col-span-1 w-full justify-center lg:justify-start">
          <div class="flex flex-col gap- items-center">
            <img src="./images/logo.jpg" alt="" class="w-[60px] h-[60px] md:w-[100px] md:h-[100px] rounded-full" />
            <div class="text-black font-bold text-[25px]">Brufit</div>
          </div>
        </div>
        <div class="hidden md:block col-span-1">
          <div class="flex flex-col">
            <div class="mb-4 text-[18px]">Menu</div>
            <div class="flex flex-col gap-2">
              <div class="text-[15px] text-gray-600">Nosotros</div>
              <div class="text-[15px] text-gray-600">Membresia</div>
              <div class="text-[15px] text-gray-600">Entrenadores</div>
              <div class="text-[15px] text-gray-600">Ubicacion</div>
            </div>
          </div>
        </div>
        <div class="col-span-1 mt-6 md:mt-0">
          <div class="flex flex-col">
            <div class="mb-4 text-[15px] md:text-[18px]">Contacto</div>
            <div class="flex flex-col gap-2">
              <div class="text-[13px] md:text-[15px] text-gray-600">+(569)90228814</div>
              <div class="text-[13px] md:text-[15px] text-gray-600">Instagram</div>
              <div class="text-[13px] md:text-[15px] text-gray-600">Facebook</div>
            </div>
          </div>
        </div>
        <div class="col-span-1 mt-6 md:mt-0">
          <div class="flex flex-col">
            <div class="mb-4 text-[15px] md:text-[18px]">Horario</div>
            <div class="flex flex-col gap-2">
              <div class="text-[13px] md:text-[15px] text-gray-600">Lunes a viernes: 8:00 - 23:00</div>
              <div class="text-[13px] md:text-[15px] text-gray-600">Sabado: 8:00 - 14:00</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex grow justify-center items-end h-full mt-8 md:mt-8">
        <div class="text-[15px] text-gray-600 text-center">Brufit - Todos los derechos reservados</div>
      </div>
    </div>
  </div>
</section>

<style>
  .personal-trainer-image {
    background-image: url('/images/trainer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
