---
import DobleArrowRight from '@/components/icons/DobleArrowRight.astro';
import MemberShipFullCard from '@/components/memberships/MemberShipFullCard.astro';
import MemberShipMidCard from '@/components/memberships/MemberShipMidCard.astro';

interface MembershipData {
  price: string;
  title: string;
  description: string;
}

const membershipData: MembershipData[]  = [
  {
    price: '$60.000',
    title: 'Personalizado',
    description: 'Entrenamiento 3 veces por semana, entrenamiento personalizado, seguimientos del extreno y profesores profesionales.',
  },
  {
    price: '$30.000',
    title: 'Acceso al GYM',
    description: 'Plan de acceso de 6 veces por semana con uso libre de maquinas y rutinas de entrenamiento.',
  },
  {
    price: '$27.000',
    title: 'Acceso al GYM',
    description: 'Plan de acceso de 4 veces por semana con uso libre de maquinas y rutinas de entrenamiento.',
  },
  {
    price: '$25.000',
    title: 'Acceso al GYM',
    description: 'Plan de acceso de 3 veces por semana con uso libre de maquinas y rutinas de entrenamiento.',
  },
  {
    price: '$75.000',
    title: 'Trimestral',
    description: 'Plan de acceso de 6 veces por semana con uso libre de maquinas y rutinas de entrenamiento.',
  },
  {
    price: '$140.000',
    title: 'Sementral',
    description: 'Plan de acceso de 6 veces por semana con uso libre de maquinas y rutinas de entrenamiento.',
  },
  {
    price: '$235.000',
    title: 'Anual',
    description: 'Plan de acceso de 6 veces por semana con uso libre de maquinas y rutinas de entrenamiento.',
  }
];

---

<section class="m-[10px] rounded-2xl bg-[#3d3c3d]">
  <div class="flex grow flex-col min-h-[650px] items-center 2xl:max-w-[1500px] 2xl:mx-auto mx-6 md:mx-10 py-10 md:py-20">
    <div class="flex flex-wrap md:flex-nowrap grow w-full mb-10 md:mb-0">
      <div class="flex grow w-full relative min-h-[100px]">
        <DobleArrowRight color1="#fff" color2="#707070" />
      </div>
      <div class="flex grow w-full">
        <h1 class="text-white font-extrabold text-[25px] md:text-[45px] md:text-right">PLANES DE MEMBRESIA QUE SE ADAPTAN A TI.</h1>
      </div>
    </div>
    <div class="flex flex-wrap md:flex-nowrap grow w-full gap-6 items-end">
      <MemberShipFullCard />
      <div class="flex grow w-full gap-6 overflow-y-auto items-end">
        {
          membershipData.map((data, index) => (
            <MemberShipMidCard price={data.price} title={data.title} description={data.description} />
          ))
        }
      </div>
    </div>
  </div>
</section>
