---
import DobleArrowRight from '@/components/icons/DobleArrowRight.astro';
import InfoRutinesCard from '@/components/rutines/InfoRutinesCard.astro';

interface RutinesData {
  title: string;
  description: string;
}

const rutinesData: RutinesData[]  = [
  {
    title: 'Pecho',
    description: 'Rutinas con Press banca, apertura de pecho, banco inclinado, con uso de barra o mancuernas.',
  },
  {
    title: 'Espalda',
    description: 'Rutinas con dominadas, remo con barra, remo con mancuerna, peso muerto, jalones.',
  },
  {
    title: 'Pierna',
    description: 'Rutinas con sentadillas, prensa, extensiones de pierna, curl de pierna, peso muerto.',
  },
  {
    title: 'Brazo',
    description: 'Rutinas con curl de biceps, curl de biceps con barra, curl de biceps con mancuernas, etc.',
  }
];

---

<section class="m-[10px] rounded-2xl bg-[#e6d11f]">
  <div class="flex grow flex-col min-h-[650px] items-center 2xl:max-w-[1500px] 2xl:mx-auto mx-6 md:mx-10 py-10 md:py-20">
    <div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-3 w-full h-full">
      <div class="flex flex-col col-span-1 mb-10 md:mb-0">
        <div class="relative h-[100px]">
          <DobleArrowRight color1="#2b2829" color2="#707070" />
        </div>
        <div class="mt-7">
          <div>
            <h1 class="text-[#2b2829] font-extrabold text-[30px] md:text-[45px]">RUTINAS DE ENTRENAMIENTO</h1>
          </div>
          <div class="mt-10">
            <h5 class="text-[#2b2829] text-[13px] text-wrap">
              Nuestras instalaciones de ultima generacion y entrenadores expertos
              estan aqui para ayudarte a alcanzar tus objetivos.
            </h5>
          </div>
        </div>
      </div>
      <div class="col-span-2">
        <div class="flex grow gap-6 overflow-y-auto items-end md:ml-[40px]">
          <div class="personal-trainer-image w-full h-[200px] md:h-[350px] rounded-xl md:ml-20"></div>
        </div>
      </div>
    </div>
    <div class="flex grow mt-10 overflow-y-auto w-full gap-6">
      {
        rutinesData.map((data, index) => (
          <InfoRutinesCard title={data.title} description={data.description} />
        ))
      }
    </div>
  </div>
</section>

<style>
  .personal-trainer-image {
    background-image: url('/images/trainer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
