---
---

<div class="flex flex-col h-[140px] min-w-[250px] md:min-w-[350px] w-full bg-[#faed7a] rounded-2xl p-4">
  <div class="flex w-full">
    <div class="flex grow">
      <h4 class="text-[#2b2829] font-extrabold text-[25px]">Basic</h4>
    </div>
  </div>
  <div class="flex flex-col gap-2 h-full">
    <div class="flex items-end h-full">
      <div>
        <h5 class="text-[#2b2829] text-[13px]">Incluye todos los bene</h5>
      </div>
    </div>
  </div>
</div>
